body {
margin:0px;
background-position:0px 0px;
background-image:url(logo_tlo.png);
background-repeat:no-repeat;
background-color:black;
font-family: FSEX300;
font-style: normal;
font-stretch: normal;
}
#yah {
background-image:url(jt_tlo.png);
background-repeat:repeat-x;
background-position:0px 0px;
height:35px;
margin-left:284px;
line-height:30px;
}
#menu {
	font-family :  'fixedsys_excelsior_3.01Rg';
background-image:url(menu_tlo.png);
background-repeat:repeat-y;
background-position:120px 100px;
border:1px solid black;
margin-top:254px;
float:left;
width:200px;
}
h2 {
	font-family :  'fixedsys_excelsior_3.01Rg';
margin:0px;
background-image:url(luk_tlo.png);
background-position:120px 0px;
background-repeat:no-repeat;
background-color:black;
height:71px;


}
* {
color:white;
}

.link {
display:block;
margin-left:5px;
}

.x {
  margin: auto;
  width: 40%;
  padding: 30px;
}


.d {
  margin: auto;
  width: 30%;
  padding: 30px;
}
.link:hover {
margin-left:10px;
}
#copy {
font-size:10px;
width:124px;
padding-bottom:10px;
margin-bottom:0px;
border-bottom:3px solid blue;
}
#all {
margin-left:300px;
}

@font-face {
    font-family: 'fixedsys_excelsior_3.01Rg';
    src: url('fsex300-webfont.woff2') format('woff2'),
         url('fsex300-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.content {
	font-family :  'fixedsys_excelsior_3.01Rg';
  position: absolute;
  left: 60%;
  top: 30%;
  transform: translate(-50%, -50%);

  height: 50%;
  padding: 10px;  
  color: white;
  text-align: left;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
 text-align: center;
  width: 30%
}

.blink2{
 opacity : 0;
  animation: blink2 4s steps(1, end) infinite ;

}

@keyframes blink2 {

  
  60% {
    opacity: 1;
  }
  68% {
    opacity: 0;
  }
  72% {
    opacity: 1;
  }
  96% {
    opacity: 0;
  }
  97% {
    opacity: 1;
  }
  98% {
    opacity: 0;
  }
 99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  
}