@font-face {
  font-family: FSEX300;
  src: url(font.ttf) format("truetype"), url(font.svg) format("svg");
  font-style: normal;
  font-weight: 400;
}

html {
  overflow: hidden;
  font-family: FSEX300;
  font-style: normal;
  font-stretch: normal;
  vertical-align: baseline;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background: black;
  font-size: 16px;
}

body, html {
  width: 100%;
  height: 100%;
}

.button, .content, body {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.border {
	
  border: 1px solid #000;
  padding: 1px;
  width: 592px;
  background: #000575;
  background-image: linear-gradient(
      25deg,
      #007575 25%,
      transparent 0,
      transparent 74%,
      #007575 0
    ),
    linear-gradient(
      25deg,
      #001111 26%,
      transparent 0,
      transparent 44%,
      #007575 0
    );

}

.content-box {
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
  border: 1px solid #f8f8f8;
}

.content-box, .header {
  display: -webkit-flex;
  display: flex;
  width: 100%;
}

.header {
  height: 21px;
  border-bottom: 1px solid #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title {
  text-align: center;
  width: 100%;
  line-height: 20px;
  color: #fff;
}

.content {
  padding: 9px;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  background: #fff;
}

p {
  text-align: center;
  width: 231px;
}

.button {
  margin: 5px;
  padding: 3px;
  border-radius: 2px;
  box-shadow: 0 0 0 2px #000;
  width: 90px;
  height: 20px;
  border-color: #fff #757575 #757575 ;
  border-style: solid;
  border-width: 2px;
  background: #b8b111;
  cursor: pointer;
}
.blink {
 opacity : 1;
  animation: blink 5s steps(1, end) infinite ;
}


@keyframes blink {

  60% {
    opacity: 1;
  }
  68% {
    opacity: 0;
  }
  72% {
    opacity: 1;
  }
  96% {
    opacity: 0;
  }
  97% {
    opacity: 1;
  }
  98% {
    opacity: 0;
  }
 99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  
}
